-- Created in 2018.06.03 by polarbears
-- Copyright (c) 20xx, CHINA and/or affiliates.
-- All rights reserved.
--	Name:
-- 		oracle_audit.config
--	Description:
-- 		配置Oracle审计
--  Relation:
--      对象关联
--	Notes:
--		基本注意事项
--	修改 - （年-月-日） - 描述

DEFINE sv_tablespace_name = ORACLEAUDIT_TAB
SET SERVEROUTPUT ON

-- ===================================================
-- 创建表空间: ORACLEAUDIT_TAB 
--
   --不支持裸设备，仅支持文件系统                                             
-- ===================================================
DECLARE
  lv_name             VARCHAR2(512);
  lv_dir              VARCHAR2(512);
  lv_sql              VARCHAR2(4000);
  lv_sysfile_name     VARCHAR2(513);
  lv_tablespace_name  VARCHAR2(64);
BEGIN
  lv_tablespace_name := '&sv_tablespace_name';
  SELECT file_name INTO lv_sysfile_name FROM dba_data_files where tablespace_name = 'SYSTEM' AND ROWNUM=1;
  IF SUBSTR(lv_sysfile_name,1,1) = '+' or SUBSTR(lv_sysfile_name,1,1) = '/' THEN
    SELECT file_name      
    INTO lv_name
    FROM dba_data_files
    WHERE tablespace_name='SYSTEM' and rownum = 1;
    lv_dir              := SUBSTR(lv_name,1,instr(lv_name,'/',-1));
    lv_sql              := 'CREATE TABLESPACE '||lv_tablespace_name||' ';
    lv_sql              := lv_sql||'LOGGING ' ;
    lv_sql              := lv_sql||'DATAFILE '''||lv_dir||lv_tablespace_name||'01.ora'' SIZE 10M REUSE ';
    lv_sql              := lv_sql||'AUTOEXTEND ON NEXT 10M MAXSIZE 16000M ';
    lv_sql              := lv_sql||'EXTENT MANAGEMENT LOCAL';
    EXECUTE immediate lv_sql;
    --dbms_output.put_line(lv_sql);
  ELSE
    SELECT file_name      
    INTO lv_name
    FROM dba_data_files
    WHERE tablespace_name='SYSTEM' and rownum = 1;
    lv_dir              := SUBSTR(lv_name,1,instr(lv_name,'\',-1));
    lv_sql              := 'CREATE TABLESPACE '||lv_tablespace_name||' ';
    lv_sql              := lv_sql||'LOGGING ' ;
    lv_sql              := lv_sql||'DATAFILE '''||lv_dir||lv_tablespace_name||'01.ora'' SIZE 10M REUSE ';
    lv_sql              := lv_sql||'AUTOEXTEND ON NEXT 10M MAXSIZE 16000M ';
    lv_sql              := lv_sql||'EXTENT MANAGEMENT LOCAL';
    EXECUTE immediate lv_sql;
    --dbms_output.put_line(lv_sql);
  END IF;
EXCEPTION
WHEN OTHERS THEN
  ROLLBACK;
  dbms_output.put_line(SQLCODE||'--'||sqlerrm);
END;
/

--审计管理配置
	--开启审计等级
		alter system set audit_trail=db,extended scope=spfile;

	--迁移默认审计表空间
		exec dbms_audit_mgmt.set_audit_trail_location( dbms_audit_mgmt.audit_trail_db_std, 'ORACLEAUDIT_TAB')
		
	--设置审计日志自动清除
		--初始化清理Audit的功能，该命令只有在第一次执行时需要运行，default_cleanup_interval =>24代表清理周期为24小时。
			BEGIN
			  sys.DBMS_AUDIT_MGMT.init_cleanup(
				  audit_trail_type         => sys.DBMS_AUDIT_MGMT.AUDIT_TRAIL_ALL,
				  default_cleanup_interval => 24);
			END;
			/
		--确认清除Audit功能是否开启，yes为开启
			SET SERVEROUTPUT ON
			BEGIN
			IF sys.DBMS_AUDIT_MGMT.is_cleanup_initialized(sys.DBMS_AUDIT_MGMT.AUDIT_TRAIL_AUD_STD) THEN
				 DBMS_OUTPUT.put_line('YES');
			   ELSE
				 DBMS_OUTPUT.put_line('NO');
			   END IF;
			  END;
			/
		--设置审计归档时间，清理程序将清除归档时间前的数据，90代表归档90天前
			BEGIN
				dbms_audit_mgmt.set_last_archive_timestamp(audit_trail_type => dbms_audit_mgmt.audit_trail_aud_std,  
				last_archive_time => SYSTIMESTAMP AT TIME ZONE 'UTC' - 90);
			END;
			/
		--执行清除操作
			BEGIN
			  sys.DBMS_AUDIT_MGMT.clean_audit_trail(
			  audit_trail_type        => sys.DBMS_AUDIT_MGMT.AUDIT_TRAIL_AUD_STD,
			  use_last_arch_timestamp => TRUE);
			END;
			/
--审计规则配置
	ALTER TABLE ZOEDICT.DIC_PRICE_ITEM_DICT ADD (BILL_TYPE_CODE VARCHAR2(64));
	COMMENT ON COLUMN ZOEDICT.DIC_PRICE_ITEM_DICT.BILL_TYPE_CODE IS '单据类别代码';



